In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(r'C:\Users\rf\Desktop\dataflow\dataflow_system\dataflow_system\data\coustumer data.csv')
df

,order number,costumer name,dis,Customer's field of work,price,Creation time,order type,bill type,Completion time,payment method,discount,amount received,remaining amount
0,1,الحسن حسين,التداول,متداول,1000,2024-10-02 22:07:06,نظام اداره زبائم,Invoice,2024-10-10,Direct payment,200,500,300
1,2,علي حليم,مبرمج في شركه اسمها dataflow,مبرمج,500,2024-10-03 19:18:09,dashpoard,Invoice,2024-10-07,Direct payment,0,300,200

In [20]:
df[df['order number']==1]['price'].values[0]

1000

In [30]:
df['order number'].max()

2

In [33]:
df[df['order number']==2]['costumer name'].values[0]

'علي حليم'

:

In [32]:
df[df['order number']==1]["Customer's field of work"].values[0]

'متداول'