In [17]:
import pandas as pd

In [18]:
df = pd.read_csv(r'C:\Users\rf\Desktop\dataflow\dataflow_system\dataflow_system\data\incume data.csv')
df

,name,domain,amount_received,discount,creation_time,price
0,الحسن حسين,متداول,500.0,200.0,2024-10-02 22:07:06,1000.0
1,علي حليم,مبرمج,300.0,0.0,2024-10-03 19:18:09,500.0
2,مارسيدس,ad,400.0,0.0,2024-10-04 18:09:50,4000.0
3,كرار ستار,العقارات,400.0,0.0,2024-10-04 18:12:28,2000.0
4,علي عادل,التوصيل,400.0,0.0,2024-10-04 18:51:42,1000.0

In [20]:
df = df.drop(df.index)  # This removes all rows

In [21]:
df.to_csv(r'C:\Users\rf\Desktop\dataflow\dataflow_system\dataflow_system\data\incume data.csv', index=False, encoding='utf-8-sig')

Empty DataFrame
Columns: [name, domain, amount_received, discount, creation_time, price]
Index: []